.DS_Store
node_modules
.idea
!.meteor/packages
!.meteor/release
.cordova/
.eslintignore
.gitmodules
.meteor/.finished-upgraders
.meteor/.gitignore
.meteor/.id
.meteor/platforms
.meteor/release
.meteor/versions
README.md
circle.yml
mobile-config.js
package-lock.json
public/ShowModal.reg.txt
scrs-react.iml
settings.json
